<p id="notice"><%= notice %></p>

<div class="row m-0 p-0">
  <div class="col-9 h-100">
    <div class="border bg-dark-orange"></div>
  </div>

  <div class='col-3 h-100'>
    <div class="border bg-dark-orange"></div>
  </div>

  <%# Vote.all.group(:article_id).count.sort_by {|_,value| value}.reverse.to_h %>
  <% @articles.each do |article| %>
    <ul>
      <li><%= article.title %></li>
      <li><%= article.text %></li>
      <li><%= link_to 'Show', article %></li>
    </ul>
  <% end %>

</div>
